<p>
    <mat-toolbar color="primary">
        <a

        

        mat-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>
                 <span class="material-symbols-outlined">
                menu_book
                </span> 
            </mat-icon>
            <!-- <img src="../../../assets/exam_logo-removebg-preview.png" alt=""> -->
        <!-- </a><a href=""> -->
            <span style="font-size: large; position: relative; left: 5px;">ExamPortal</span>
        </a>
       
        
        <span class="example-spacer"></span>
        <a 
            *ngIf="!loginService.isLoggedIn() && visibleLoginbutton" 
           
         [routerLink]="['/login']"
        mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <!-- <mat-icon>login</mat-icon> -->
            Login
        </a>

        <a  (click)="logout()"
         *ngIf="loginService.isLoggedIn()"
         
        mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <!-- <mat-icon>login</mat-icon> -->
            LogOut
        </a>
        <a *ngIf="!loginService.isLoggedIn() "
        [routerLink]="['/signup']"
        mat-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
            <!-- <mat-icon>share</mat-icon> -->
            Register
        </a>
         <div *ngIf="loginService.isLoggedIn()">
            <a 
        
        mat-button 
        class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
            <!-- <mat-icon>share</mat-icon> -->
         {{user.username}}
        </a>
         </div>
        
    </mat-toolbar>
</p>

