<mat-card>

  <!-- <button mat-stroked-button color="accent">Back</button> -->
  <div style="text-align: right;">

    <button mat-stroked-button color="primary" routerLink="/admin/add-quiz"> <mat-icon>assignment</mat-icon> Add New
      Quiz</button>
  </div>
</mat-card>


<mat-card class="mt10" *ngFor="let q of quizzes">
  <mat-card-header>

    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{q.quizName}}
      <mat-card-subtitle>

        {{q.category.catrgoryName}}
      </mat-card-subtitle>
    </mat-card-title>
  </mat-card-header>
  <mat-quiz-content>
    <p>{{q.description}}</p>
  </mat-quiz-content>
  <mat-card-action>
    <button mat-raised-button color="accent" class="mr10" (click)="navigateFunc(q)">Question</button>
    <button mat-stroked-button color="accent" class="mr10">Maximum Marks : {{q.totalMarks}}</button>
    <button mat-stroked-button color="accent" class="mr10">No. of Question : {{q.noOfQuestion}} </button>
    <button mat-raised-button color="accent" class="mr10" (click)="navigateFunctoUpdate(q)">Update</button>
    <button mat-stroked-button color="accent" class="mr10">Attempts</button>
    <button mat-stroked-button color="accent" class="mr10" (click)="deleteQuiz(q.quizId)">Delete</button>
  </mat-card-action>




</mat-card>


<!--  -->