.example-header-image {
    background-image: url("../../../../assets/7565239.png");
    background-size: cover;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  