<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-2">
                <!-- Instructions -->
                <h3>Instructions</h3>

            </div>
            <div class="col-md-8">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <h1> On Going quiz {{questions[0].quiz.quizName}}</h1>
                    <mat-card *ngFor="let q of questions;let i=index" class="mt10">

                        <mat-card-content>
                            <p> <b>Q. {{i+1}}</b> <span class="ml10" [innerHTML]="q.content"></span></p>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <div class="row">


                            <mat-radio-group [(ngModel)]="q.selectedAnswer">
                                <div class="col-md-12 mt10 ml10" *ngIf="q.options[0].option">
                                    <mat-radio-button name="name{{i}}"
                                        value="{{q.options[0].option}}">{{q.options[0].option}}</mat-radio-button>
                                </div>
                                <div class="col-md-12 mt10 ml10" *ngIf="q.options[1].option">
                                    <mat-radio-button name="name{{i}}"
                                        value="{{q.options[1].option}}">{{q.options[1].option}}</mat-radio-button>
                                </div>
                                <div class="col-md-12 mt10 ml10" *ngIf="q.options[2].option">
                                    <mat-radio-button name="name{{i}}"
                                        value="{{q.options[2].option}}">{{q.options[2].option}}</mat-radio-button>
                                </div>
                                <div class="col-md-12 mt10 ml10" *ngIf="q.options[3].option">
                                    <mat-radio-button name="name{{i}}"
                                        value="{{q.options[3].option}}">{{q.options[3].option}}</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                    </mat-card>
                    <div class="container text-center">
                        <button mat-raised-button color="primary" class="mt10 mb20" (click)="submitQuiz()">Save
                            Quiz</button>
                    </div>

                </ng-container>

            </div>
            <div class="col-md-2" >
                <div class="fixProgress">
                <mat-card style="margin-top: 50px;">
                    <mat-card-header>
                        <mat-card-title>Progress</mat-card-title>
                        <mat-card-subtitle>
                            The quiz will be automatically submitted when the time reaches <b>00:00</b>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <h1>{{this.getFormatedTimer()}}</h1>
                    <mat-spinner 
                    mode = 'determinate'
                    [value]="(timer/(questions.length*120))*100"
                    style="margin: auto;">
                </mat-spinner>
                </mat-card>
                <!-- progress bar -->
            </div>
            </div>
        </div>
    </div>

</div>

<!-- Showing Result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="result-container">
                        <div class="text-center">

                            <img src="../../../../assets/ProjectLogo - Copy.png" alt="ProjectLogo" class="logo text-center">
                        </div>
                       
                        <h1 class="text-center">Exam Result </h1>
                        <h2>Subject: {{questions[0].quiz.quizName |uppercase}}</h2>
                        <b><h3>🌟 Congratulations!</h3></b>
                        <h3>Performance Summary:</h3>
                        <p>📌 Full Marks: <b>{{fullMarks}} </b></p>
                        <p>🎯 Total Gained Marks: <b>{{totalmarksGot}} </b></p>
                        <p>✅ Total Correct Answers:<b>{{totalCorrectAnswer}} </b></p>
                        <p>📝 Total Attempted Questions:<b>{{totalAttemptedQuestion}} </b></p>
                        <p>❓ Questions Not Visited: <b>{{notVisited}} </b></p>
                        <p>⏱️ Time Taken: <b> {{totalTimeTaken}} </b></p>
                        <b><h3>Your Achievement:</h3></b>
                        <p>You have achieved an impressive <span class="highlight">{{totalPercentage}}%</span> of the total marks!</p>
                        <h3>Detailed Breakdown:</h3>
                        <p>Correctly answered <span class="highlight">{{totalCorrectAnswer}}</span> out of <span class="highlight">{{totalAttemptedQuestion}}</span> attempted questions.</p>
                        <p>You wisely left <span class="highlight">{{notVisited}}</span> questions unattempted.</p>
                        <h3>Additional Messages:</h3>
                        <p>👏 Well done! Your hard work has paid off.</p>
                        <p>📚 Keep up the good work and continue to strive for excellence in your studies.</p>
                        <p>🌠 Your determination and effort are truly commendable. Congratulations on your achievement!</p>
                        <div class="icons">
                            <span class="icon">🎉</span>
                            <span class="icon">🏆</span>
                            <span class="icon">🥇</span>
                        </div>
                    </div>
                    <mat-card-actions class=" text-center">


                        <button mat-raised-button color="accent" (click)="printPage()">Print</button>
                        <button mat-raised-button color="primary" [routerLink]="'/user/0'">Home</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>