<mat-card>
    <mat-list>
        <div class="header-class">
            <!-- <div mat-subheader> All categories  </div> -->
            <h1>All categories </h1> 
            <!-- <mat-divider></mat-divider> -->
           <div class="add-btn"> 
               <button  mat-stroked-button color="primary"  routerLink="/admin/addCategory"> <mat-icon>library_add</mat-icon>  Add Category </button>
           </div> 
        </div>
    
       <mat-list-item *ngFor="let category of categories">
        <mat-icon mat-list-icon >category</mat-icon>
        <div mat-line > {{category.categoryName}}</div>
        <div mat-line> {{category.descriptions}}</div>
        <!-- <button mat-raised-button>Action</button> -->

        <button mat-button [matMenuTriggerFor]="menu">Action</button>
        <mat-menu #menu="matMenu">
            <!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">Delete</button> -->
            <button mat-menu-item (click)="navigateFunc(category.categoryId)">Edit</button>
            <button mat-menu-item (click)="deleteCategory(category.categoryId)">Delete</button>
        </mat-menu>
        
        <mat-divider></mat-divider>
        
       </mat-list-item>
    </mat-list>

    
</mat-card>
