<mat-card>
    <h1>Add Quiz</h1>
    <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
          
            <form [formGroup]="quiz" (ngSubmit)="onFormSubmit()">
                <!-- Name: <input formControlName="quizName"  placeholder="Enter Name">
                <button type="submit">Submit</button>  -->

                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Category Name</mat-label>
                    <input type="text" formControlName="quizName"matInput placeholder="Enter Here">

                </mat-form-field>

              </form> 
        </div>
    </div>
</div>
</mat-card>
